.container{
    margin:auto;
    font-family: 'Mulish', sans-serif;
    width: 1360px;
}

.navbar{
    display: flex;
    justify-content: space-between;
}

.navbar__menu{
    display: flex;
    flex-direction: row;
    gap: 29px;

}

.menu__item{
    list-style: none;
    font-family: 'Mulish';
    font-weight:bold;
    line-height: 23px;
    color:black;
    font-size:18px;
}

.logo--name{
    font-family: 'Mulish';
    font-weight: bolder;
    color: solid #111111;
}

.designer__content{
    display: grid;
    grid-template-columns: 635px 212px;
    grid-template-rows: 2;
    justify-content: space-between;
}

.designer--saying{
    grid-column: 4/2;
    display: grid;
    justify-content: left;
    align-self: end;
    grid-row: 2;
}

.intro__content--info{
    grid-column: 1/2;
    grid-row: 1 / 2;
    display: grid;
    align-items: center;
    margin-top: 96px;
}

h1{
    font-family:bold;
    font-size: 40px;
    line-height: 60px;
}

.designer--blue, .intro__content--info p{
    color: #4A4FF2;
}

.intro__content--info p{
    font-weight: 700;
    font-style: normal;
    font-size:22px;
    line-height: 27.61px;
    letter-spacing: -0.44px;
}
.designer--saying p{
    font-style: italic;
    font-style: 18px;
    font-weight: 400;
    line-height: 23px;
    color: black;
    opacity: 50%;
}

.designer--saying::before{
    content: "";
   width:40px;
    height: 2px;
    display: block;
    background-color: black;
}





.designer {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    gap: 20px;
    margin-bottom: 91px;
    margin-top: 144px;
}

.designer__image{
    margin-bottom: 20px;
    width: 100%;
     
}


.service{
    display: flex;
    flex-direction: row;
}

.service__heading{
    
     width: 635px;
    font-size: 28px;
    font-family: 'Mulish';
    font-weight: bold;
    line-height: 48px;
}

.service__list{
    width: 350px;
    margin-left: auto;
}
.service__item{
    width: 50%;
    float: left;
    margin-bottom: 10px;
}